
<div class="container p-4">
    <div class="col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-body">

                <h1>WELCOME!</h1>
                <h2>Sign in if you already have an account</h2>
          
                     <h6><a href="/signin">SIGN IN</a></h6>
                        <h6><a href="/signup">SIGN UP</a></h6>
            </div>
        </div>
    </div>
</div>